mediamanager/xsd/smart-faces.xsd

<xs:schema 
xmlns="http://www.cruxframework.org/crux/smart-faces" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:c="http://www.cruxframework.org/crux" 
xmlns:_widgets="http://www.cruxframework.org/crux/widgets" 
xmlns:_gwt="http://www.cruxframework.org/crux/gwt" 
attributeFormDefault="unqualified" 
elementFormDefault="qualified" 
targetNamespace="http://www.cruxframework.org/crux/smart-faces" >
<xs:import schemaLocation="core.xsd" namespace="http://www.cruxframework.org/crux"/>
<xs:import schemaLocation="widgets.xsd" namespace="http://www.cruxframework.org/crux/widgets"/>
<xs:import schemaLocation="gwt.xsd" namespace="http://www.cruxframework.org/crux/gwt"/>
<xs:element name="articlePanel" type="TarticlePanel">
<xs:annotation>
<xs:documentation>A panel that contains multiple widgets and group them using an ARTICLE tag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TarticlePanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="navPanel" type="TnavPanel">
<xs:annotation>
<xs:documentation>A panel that contains multiple widgets and group them using an NAV tag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TnavPanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="footerPanel" type="TfooterPanel">
<xs:annotation>
<xs:documentation>A panel that contains multiple widgets and group them using an FOOTER tag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TfooterPanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="scrollablePager" type="TscrollablePager">
<xs:annotation>
<xs:documentation>A pager widget that can predict the datasource size at the load instant and changes the page when the user scrolls down the widget.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TscrollablePager">
<xs:attribute name="pageable" type="xs:string" use="required" >
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this widget is enabled.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="editPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can edit this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onPage" >
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="image" type="Timage">
</xs:element>
<xs:complexType name="Timage">
<xs:attribute name="preventDefaultTouchEvents" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="url" type="xs:string" >
</xs:attribute>
<xs:attribute name="altText" type="xs:string" >
</xs:attribute>
<xs:attribute name="visibleRect" type="xs:string" >
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this widget is enabled.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="editPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can edit this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoad" >
</xs:attribute>
<xs:attribute name="onError" >
</xs:attribute>
<xs:attribute name="onSelect" >
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onFocus" >
<xs:annotation>
<xs:documentation>Inform the handler for onFocus event. This event is fired when the widget receives focus.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onBlur" >
<xs:annotation>
<xs:documentation>Inform the handler for onBlur event. This event is fired when the widget loses focus.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="label" type="Tlabel">
<xs:annotation>
<xs:documentation>A label class that support google fast buttons to simulate clicks on touch devices.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="Tlabel">
<xs:attribute name="preventDefaultTouchEvents" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the label will call preventDefault on all touch events.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="text" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets this object&apos;s text.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="bindPath" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets a property path (eg. property1.proerty2) on the View&apos;s associated dataObject. Crux will handle data binding between this dataObject property and this widget. To transfer data between objects and views, cast your view to BindableView and call getData and setData methods.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="bindConverter" type="xs:string" >
<xs:annotation>
<xs:documentation>Specify a type converter to handle type differences betwwen the dataObject property type and the type expected by the bound widget. You can use one of the standard converters on TypeConverters utility class or create your own, extending TypeConverter interface.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="wordWrap" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="autoHorizontalAlignment" type="org_cruxframework_crux_core_rebind_screen_widget_creator_align_AutoHorizontalAlignment" default="defaultAlign" >
<xs:annotation>
<xs:documentation>Sets the horizontal alignment.Accepts one value between:&lt;ul&gt;&lt;li&gt;center - widget&apos;s contents should be aligned in the center&lt;/li&gt;&lt;li&gt;justify - widget&apos;s contents should be aligned as justify&lt;/li&gt;&lt;li&gt;left - widget&apos;s contents should be aligned to the left&lt;/li&gt;&lt;li&gt;right - widget&apos;s contents should be aligned to the right&lt;/li&gt;&lt;li&gt;localeStart - In a RTL layout, specifies that the widget&apos;s contents should be aligned to the right. In a LTR layout, specifies that the widget&apos;s constants should be aligned to the left&lt;/li&gt;&lt;li&gt;localeEnd - In a RTL layout, specifies that the widget&apos;s contents should be aligned to the left. In a LTR layout, specifies that the widget&apos;s constants should be aligned to the right&lt;/li&gt;&lt;li&gt;defaultAlign - Synonym of localeStart&lt;/li&gt;&lt;li&gt;contentStart - Specifies that the widget&apos;s contents should be aligned left for LTR content, right for RTL content, and if the content&apos;s direction is DEFAULT, like localeStart&lt;/li&gt;&lt;li&gt;contentEnd - Specifies that the widget&apos;s contents should be aligned right for LTR content, left for RTL content, and if the content&apos;s direction is DEFAULT, like localeEnd&lt;/li&gt;&lt;/ul&gt;</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="horizontalAlignment" type="org_cruxframework_crux_core_rebind_screen_widget_creator_align_HorizontalAlignment" default="defaultAlign" >
<xs:annotation>
<xs:documentation>Sets the horizontal alignment.Accepts one value between:&lt;ul&gt;&lt;li&gt;center - widget&apos;s contents should be aligned in the center&lt;/li&gt;&lt;li&gt;justify - widget&apos;s contents should be aligned as justify&lt;/li&gt;&lt;li&gt;left - widget&apos;s contents should be aligned to the left&lt;/li&gt;&lt;li&gt;right - widget&apos;s contents should be aligned to the right&lt;/li&gt;&lt;li&gt;localeStart - In a RTL layout, specifies that the widget&apos;s contents should be aligned to the right. In a LTR layout, specifies that the widget&apos;s constants should be aligned to the left&lt;/li&gt;&lt;li&gt;localeEnd - In a RTL layout, specifies that the widget&apos;s contents should be aligned to the left. In a LTR layout, specifies that the widget&apos;s constants should be aligned to the right&lt;/li&gt;&lt;li&gt;defaultAlign - Synonym of localeStart&lt;/li&gt;&lt;/ul&gt;</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onSelect" >
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="popupPanel" type="TpopupPanel">
<xs:annotation>
<xs:documentation>A Popup panel that can display one widget inside a dialog window.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TpopupPanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="modal" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="autoHide" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="autoHideOnHistoryEventsEnabled" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="glassStyleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onClose" >
<xs:annotation>
<xs:documentation>Inform the handler for onClose event. This event is fired when the widget is closed.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="asidePanel" type="TasidePanel">
<xs:annotation>
<xs:documentation>A panel that contains multiple widgets and group them using an ASIDE tag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TasidePanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="sectionPanel" type="TsectionPanel">
<xs:annotation>
<xs:documentation>A panel that contains multiple widgets and group them using an SECTION tag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TsectionPanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="widgetList" type="TwidgetList">
<xs:annotation>
<xs:documentation>A list of widgets that use a datasource to provide data and a widgetFactory to bound the data to a widget. This list can be paged by a Pager.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TwidgetList">
<xs:choice >
<xs:element name="widgetFactory" minOccurs="1" maxOccurs="1" type="org_cruxframework_crux_core_rebind_screen_widget_creator_AbstractPageableFactory_WidgetFactoryChildCreator">
<xs:annotation>
<xs:documentation>Describes the widget factory used by the widgetList. This factory is called to create a widget for each object provided by the datasource.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="widgetFactoryOnController" minOccurs="1" maxOccurs="1" type="org_cruxframework_crux_core_rebind_screen_widget_creator_AbstractPageableFactory_WidgetFactoryControllerChildCreator">
<xs:annotation>
<xs:documentation>Describes the widget factory method to be called on a controller to create widgets for this list. This factory is called to create a widget for each object provided by the datasource.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:attribute name="autoLoadData" type="xs:boolean" >
<xs:annotation>
<xs:documentation>If true, ask bound datasource for data when widget is created.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="pageSize" type="xs:int" >
<xs:annotation>
<xs:documentation>The number of widgets that is loaded from the datasource on each data request.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="dataSource" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>The datasource that provides data for this widget.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="dialogViewContainer" type="TdialogViewContainer">
<xs:annotation>
<xs:documentation>A ViewContainer that can load one view and present it inside a dialog box.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TdialogViewContainer">
<xs:sequence>
<xs:element name="view" minOccurs="0" maxOccurs="1" type="org_cruxframework_crux_smartfaces_rebind_dialog_DialogViewContainerFactory_ViewProcessor">
</xs:element>
</xs:sequence>
<xs:attribute name="movable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the window can be dragged on the screen</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="resizable" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the window can be resized</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="closable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, a close button will be available at the dialog&apos;s top bar to close the window</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="modal" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the content behind the dialog can not be changed when dialog is showing</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="autoHide" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="autoHideOnHistoryEventsEnabled" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="glassStyleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="sequentialPager" type="TsequentialPager">
<xs:annotation>
<xs:documentation>A pager widget that can not predict the datasource size at the load instant. The pager only knows the datasource size after scan all next pages, until no more pages are available.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TsequentialPager">
<xs:attribute name="pageable" type="xs:string" use="required" >
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this widget is enabled.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="editPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can edit this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onPage" >
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="waitBox" type="TwaitBox">
<xs:annotation>
<xs:documentation>A wait box that can display messages inside a dialog window with one loading component.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TwaitBox">
<xs:attribute name="movable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the window can be dragged on the screen</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="message" type="xs:string" >
<xs:annotation>
<xs:documentation>Message to be presented on this box.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="autoHide" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="autoHideOnHistoryEventsEnabled" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="glassStyleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onClose" >
<xs:annotation>
<xs:documentation>Inform the handler for onClose event. This event is fired when the widget is closed.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="button" type="Tbutton">
</xs:element>
<xs:complexType name="Tbutton">
<xs:sequence>
<xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml"/>
</xs:sequence>
<xs:attribute name="preventDefaultTouchEvents" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this widget is enabled.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="editPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can edit this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="text" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets this object&apos;s text.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="bindPath" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets a property path (eg. property1.proerty2) on the View&apos;s associated dataObject. Crux will handle data binding between this dataObject property and this widget. To transfer data between objects and views, cast your view to BindableView and call getData and setData methods.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="bindConverter" type="xs:string" >
<xs:annotation>
<xs:documentation>Specify a type converter to handle type differences betwwen the dataObject property type and the type expected by the bound widget. You can use one of the standard converters on TypeConverters utility class or create your own, extending TypeConverter interface.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tabIndex" type="xs:int" >
<xs:annotation>
<xs:documentation>Sets the widget&apos;s position in the tab index. If more than one widget has the same tab index, each such widget will receive focus in an arbitrary order. Setting the tab index to &lt;code&gt;-1&lt;/code&gt; will cause this widget to be removed from the tab order.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accessKey" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the widget&apos;s &apos;access key&apos;. This key is used (in conjunction with a browser-specific modifier key) to automatically focus the widget.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="focus" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Explicitly focus/unfocus this widget. Only one widget can have focus at a time, and the widget that does will receive all keyboard events.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onSelect" >
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onFocus" >
<xs:annotation>
<xs:documentation>Inform the handler for onFocus event. This event is fired when the widget receives focus.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onBlur" >
<xs:annotation>
<xs:documentation>Inform the handler for onBlur event. This event is fired when the widget loses focus.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="dialogBox" type="TdialogBox">
<xs:annotation>
<xs:documentation>A Dialog box that can display one widget inside a dialog window.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TdialogBox">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="movable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the window can be dragged on the screen</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="resizable" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the window can be resized</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="closable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, a close button will be available at the dialog&apos;s top bar to close the window</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="modal" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the content behind the dialog can not be changed when dialog is showing</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="dialogTitle" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog title.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onClose" >
<xs:annotation>
<xs:documentation>Inform the handler for onClose event. This event is fired when the widget is closed.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="predictivePager" type="TpredictivePager">
<xs:annotation>
<xs:documentation>A pager widget that can predict the datasource size at the load instant.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TpredictivePager">
<xs:attribute name="pageable" type="xs:string" use="required" >
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this widget is enabled.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="editPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can edit this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onPage" >
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="headerPanel" type="TheaderPanel">
<xs:annotation>
<xs:documentation>A panel that contains multiple widgets and group them using an HEADER tag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TheaderPanel">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="confirm" type="Tconfirm">
<xs:annotation>
<xs:documentation>A confirm box that can display messages inside a dialog window with Ok and CANCEL buttons.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="Tconfirm">
<xs:attribute name="movable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the window can be dragged on the screen</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="resizable" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the window can be resized</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="dialogTitle" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog title.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="okLabel" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog ok button text.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="cancelLabel" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog cancel button text.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="message" type="xs:string" >
<xs:annotation>
<xs:documentation>Message to be presented on this confirm.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="autoHide" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="autoHideOnHistoryEventsEnabled" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="glassStyleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onOk" >
<xs:annotation>
<xs:documentation>Event triggered when the confirm ok button is selected.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onCancel" >
<xs:annotation>
<xs:documentation>Event triggered when the confirm cancel button is selected.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onClose" >
<xs:annotation>
<xs:documentation>Inform the handler for onClose event. This event is fired when the widget is closed.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="questionBox" type="TquestionBox">
<xs:annotation>
<xs:documentation>A question box that can display messages inside a dialog window with custom question buttons.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TquestionBox">
<xs:sequence>
<xs:element name="answer" minOccurs="0" maxOccurs="unbounded" type="org_cruxframework_crux_smartfaces_rebind_dialog_QuestionBoxFactory_QuestionProcessor">
</xs:element>
</xs:sequence>
<xs:attribute name="movable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the window can be dragged on the screen</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="resizable" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the window can be resized</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="closable" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the window can be closed clicking on a close button on topbar.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="dialogTitle" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog title.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="message" type="xs:string" >
<xs:annotation>
<xs:documentation>Message to be presented on this confirm.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="autoHide" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="autoHideOnHistoryEventsEnabled" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="glassStyleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onClose" >
<xs:annotation>
<xs:documentation>Inform the handler for onClose event. This event is fired when the widget is closed.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:element name="messageBox" type="TmessageBox">
<xs:annotation>
<xs:documentation>A message box that can display messages inside a dialog window.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:complexType name="TmessageBox">
<xs:attribute name="movable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the window can be dragged on the screen</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="resizable" type="xs:boolean" default="false" >
<xs:annotation>
<xs:documentation>If true, the window can be resized</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="closable" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, a close button will be available at the dialog&apos;s top bar to close the window</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="modal" type="xs:boolean" default="true" >
<xs:annotation>
<xs:documentation>If true, the content behind the dialog can not be changed when dialog is showing</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="messageType" type="org_cruxframework_crux_smartfaces_client_dialog_MessageBox_MessageType" default="INFO" >
<xs:annotation>
<xs:documentation>The type of the message presented by this box. It changes the message box style, to customize the dialog when errors or warnings is presented.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="dialogTitle" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog title.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="buttonText" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the Dialog button text.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="message" type="xs:string" >
<xs:annotation>
<xs:documentation>Message to be presented on this message box.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="id" type="xs:string" use="required" >
<xs:annotation>
<xs:documentation>Sets the identifier used to reference this widget on the crux view. </xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="width" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s width, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This width does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="height" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the object&apos;s height, in CSS units (e.g. &quot;10px&quot;, &quot;1em&quot;). This height does not include decorations such as border, margin, and padding.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
<xs:annotation>
<xs:documentation>Clears all of the element&apos;s style names and sets it to the given style.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="visible" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Sets whether this object is visible. true to show the object, false to hide it</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="tooltip" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML title property associated with this object. The title is the &apos;tool-tip&apos; displayed to users when they hover over the object.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="style" type="xs:string" >
<xs:annotation>
<xs:documentation>Sets the HTML style property of the widget&apos;s element</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="viewPermission" type="xs:string" >
<xs:annotation>
<xs:documentation>A role that must be checked to verify if user can see this widget on the Screen. You must define a RoleManager to handle these permission validations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="autoHide" type="xs:boolean" default="false" >
</xs:attribute>
<xs:attribute name="autoHideOnHistoryEventsEnabled" type="xs:boolean" >
</xs:attribute>
<xs:attribute name="glassStyleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="animationEnabled" type="xs:boolean" >
<xs:annotation>
<xs:documentation>Enable or disable animations.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onOk" >
<xs:annotation>
<xs:documentation>Event triggered when the message box button is selected.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onLoadWidget" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired when the widget is loaded into its parent view.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onAttach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is attached to the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onDettach" >
<xs:annotation>
<xs:documentation>Inform the handler for onLoadWidget event. This event is fired every time the widget is removed from the DOM in the browser.</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="onClose" >
<xs:annotation>
<xs:documentation>Inform the handler for onClose event. This event is fired when the widget is closed.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="org_cruxframework_crux_smartfaces_rebind_dialog_QuestionBoxFactory_QuestionProcessor">
<xs:attribute name="label" type="xs:string" use="required" >
</xs:attribute>
<xs:attribute name="styleName" type="xs:string" >
</xs:attribute>
<xs:attribute name="onSelect" >
<xs:annotation>
<xs:documentation>Event to be called when answer is selected</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="org_cruxframework_crux_smartfaces_rebind_dialog_DialogViewContainerFactory_ViewProcessor">
<xs:attribute name="name" type="xs:string" use="required" >
</xs:attribute>
</xs:complexType>
<xs:complexType name="org_cruxframework_crux_core_rebind_screen_widget_creator_AbstractPageableFactory_WidgetFactoryControllerChildCreator">
<xs:attribute name="onCreateWidget" type="xs:string" use="required" >
</xs:attribute>
</xs:complexType>
<xs:complexType name="org_cruxframework_crux_core_rebind_screen_widget_creator_AbstractPageableFactory_WidgetFactoryChildCreator">
<xs:sequence>
<xs:group ref="c:widgets"  minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Accepts any valid widget</xs:documentation>
</xs:annotation>
</xs:group>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="org_cruxframework_crux_smartfaces_client_dialog_MessageBox_MessageType">
<xs:restriction base="xs:string">
<xs:enumeration value="SUCCESS" />
<xs:enumeration value="INFO" />
<xs:enumeration value="WARN" />
<xs:enumeration value="ERROR" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="org_cruxframework_crux_core_rebind_screen_widget_creator_align_AutoHorizontalAlignment">
<xs:restriction base="xs:string">
<xs:enumeration value="center" />
<xs:enumeration value="justify" />
<xs:enumeration value="left" />
<xs:enumeration value="right" />
<xs:enumeration value="localeStart" />
<xs:enumeration value="localeEnd" />
<xs:enumeration value="defaultAlign" />
<xs:enumeration value="contentStart" />
<xs:enumeration value="contentEnd" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="org_cruxframework_crux_core_rebind_screen_widget_creator_align_HorizontalAlignment">
<xs:restriction base="xs:string">
<xs:enumeration value="center" />
<xs:enumeration value="justify" />
<xs:enumeration value="left" />
<xs:enumeration value="right" />
<xs:enumeration value="localeStart" />
<xs:enumeration value="localeEnd" />
<xs:enumeration value="defaultAlign" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
